Repository scinote-eln/scinote-web, pull requests merged in 2018-10, with the labels that each got.

#1295 close SCI-2702; unit tests for create inventory [SCI-2702]
  spec/requests/api/v1/inventories_controller_spec.rb
Labels: core-api, priority

#1300 UPDATE Inventory item endpoint - unit tests [SCI-2697]
  spec/requests/api/v1/inventory_items_controller_spec.rb
Labels: core-api, priority

#1317 close mc-SC-2703; unit tests for UPDATE inventory endpoints [SCI-2703]
  spec/requests/api/v1/inventories_controller_spec.rb
Labels: core-api

#1318 unit tests for DELETE inventory [SCI-2704]
  spec/requests/api/v1/inventories_controller_spec.rb
Labels: core-api

#1319 Revert "Merge branch 'mc-SC-2697' of https://github.com/czbiohub/scin…
  spec/requests/api/v1/inventory_items_controller_spec.rb
Labels: core-api

#1310 Add project view JSON endpoints [SCI-2728]
  .rubocop.yml
  app/controllers/my_modules_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/repository_rows_controller.rb
  app/models/my_module.rb
  app/models/project.rb
  app/services/projects_overview_service.rb
  app/views/projects/index.json.jbuilder
  app/views/projects/index_dt.json.jbuilder
  config/locales/en.yml
  config/routes.rb
Labels: features/export-all

#1315 Refactor Projects view - cards view [SCI-2730]
  .hound.yml
  app/assets/javascripts/projects/index.js
  app/assets/stylesheets/themes/scinote.scss
  app/controllers/projects_controller.rb
  app/models/experiment.rb
  app/models/my_module.rb
  app/models/project_comment.rb
  app/models/user_my_module.rb
  app/models/user_project.rb
  app/services/projects_overview_service.rb
  app/views/projects/_edit.html.erb
  app/views/projects/index.html.erb
  app/views/projects/index.json.jbuilder
  app/views/projects/index/_project.html.erb
  app/views/projects/index/_team_projects.html.erb
  config/locales/en.yml
Labels: features/export-all

#1323 Add endpoints for managing inventory list items [SCI-2741]
  app/controllers/api/v1/inventory_columns_controller.rb
  app/controllers/api/v1/inventory_list_items_controller.rb
  config/routes.rb
  spec/factories/repository_list_items.rb
  spec/requests/api/v1/inventory_list_items_controller_spec.rb
Labels: core-api

#1325 Update doorkeeper gem to >= 4.6
  Gemfile
  Gemfile.lock
Labels: core-api

#1304 Create zipfile structure for export all, implement inventory CSV for export [SCI-2640] [SCI-2642] [SCI-2643] [SCI-2644]
  app/controllers/teams_controller.rb
  app/controllers/zip_exports_controller.rb
  app/mailers/app_mailer.rb
  app/models/table.rb
  app/models/team_zip_export.rb
  app/models/zip_export.rb
  app/services/repository_zip_export.rb
  app/services/team_zip_exporter.rb
  app/views/user_notifications/_list.html.erb
  app/views/user_notifications/_recent_notifications.html.erb
  app/views/users/mailer/notification.html.erb
  config/locales/en.yml
  config/routes.rb
Labels: features/export-all, priority

#1321 Add Projects view - list/table view [SCI-2731]
  app/assets/javascripts/projects/index.js
  app/assets/stylesheets/themes/projects.scss
  app/controllers/projects_controller.rb
  app/services/projects_overview_service.rb
  app/views/projects/index.html.erb
  app/views/projects/index/_project.html.erb
  app/views/projects/index/_project_actions_dropdown.html.erb
  app/views/projects/index/_team_projects_table.html.erb
  app/views/projects/index_dt.json.jbuilder
  app/views/shared/_secondary_navigation.html.erb
  config/locales/en.yml
  config/routes.rb
Labels: features/export-all

#1322 Fix tooltip issues [SCI-2759]
  app/assets/javascripts/sitewide/tooltip_helper.js
  app/assets/stylesheets/themes/main_navigation.scss
  app/views/canvas/_tags.html.erb
  app/views/shared/_invite_users_modal.html.erb
  app/views/users/settings/account/preferences/index.html.erb
  config/locales/en.yml
Labels: master

#1326 Disabled turbolinks in left navigation bar protocols button [SCI-2760]
  app/views/shared/_left_menu_bar.html.erb
Labels: master

#1298 Created read endpoint for projects and related models [SCI-2539]
  app/controllers/api/v1/project_comments_controller.rb
  app/controllers/api/v1/projects_controller.rb
  app/controllers/api/v1/reports_controller.rb
  app/controllers/api/v1/user_projects_controller.rb
  app/serializers/api/v1/activity_serializer.rb
  app/serializers/api/v1/comment_serializer.rb
  app/serializers/api/v1/project_serializer.rb
  app/serializers/api/v1/report_serializer.rb
  app/serializers/api/v1/user_project_serializer.rb
  config/routes.rb
Labels: core-api

#1316 close sci-2700; add unit tests for inventory column update [SCI-2700]
  app/serializers/api/v1/inventory_column_serializer.rb
  spec/requests/api/v1/inventory_columns_controller_spec.rb
Labels: core-api

#1308 Export all - PDF (or HTML) report [SCI-2641] [WIP]
  app/assets/stylesheets/reports.scss
  app/helpers/reports_helper.rb
  app/helpers/string_utility.rb
  app/models/project.rb
  app/models/report.rb
  app/models/team_zip_export.rb
  app/services/team_zip_exporter.rb
  app/views/reports/elements/_my_module_repository_element.html.erb
  app/views/reports/elements/_my_module_result_asset_element.html.erb
  app/views/reports/elements/_my_module_result_table_element.html.erb
  app/views/reports/elements/_step_asset_element.html.erb
  app/views/reports/elements/_step_table_element.html.erb
  app/views/reports/new.html.erb
  config/initializers/constants.rb
  config/locales/en.yml
  package.json
Labels: features/export-all

#1328 Add CRUD endpoints for inventory cells [SCI-2765]
  Dockerfile
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/inventory_cells_controller.rb
  app/models/repository_cell.rb
  app/serializers/api/v1/repository_asset_value_serializer.rb
  config/routes.rb
  spec/requests/api/v1/inventory_cells_controller_spec.rb
Labels: core-api

#1334 Implement inventory column data type name mappings [SCI-2772]
  app/controllers/api/v1/inventory_columns_controller.rb
  app/controllers/api/v1/inventory_items_controller.rb
  app/serializers/api/v1/inventory_cell_serializer.rb
  app/serializers/api/v1/inventory_column_serializer.rb
  config/initializers/extends.rb
  spec/requests/api/v1/inventory_columns_controller_spec.rb
Labels: core-api

#1330 Add request rate throttling for API [SCI-2770]
  Gemfile
  Gemfile.lock
  Makefile
  app/services/api.rb
  config/application.rb
  config/initializers/api.rb
  config/initializers/rack_attack.rb
Labels: core-api

#1329 Implement user state saving for projects overview [SCI-2733]
  app/assets/javascripts/application.js.erb
  app/assets/javascripts/projects/index.js
  app/controllers/projects_controller.rb
  app/models/concerns/viewable_model.rb
  app/models/team.rb
  app/models/user.rb
  app/models/view_state.rb
  app/services/projects_overview_service.rb
  app/views/projects/index.html.erb
  app/views/projects/index/_team_projects_table.html.erb
  app/views/shared/_secondary_navigation.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20181008130519_create_view_states.rb
  db/schema.rb
  spec/factories/view_states.rb
  spec/models/view_state_spec.rb
  vendor/assets/javascripts/datatables.js
  vendor/assets/javascripts/jquery.dataTables.yadcf.js
  vendor/assets/stylesheets/datatables.css
Labels: features/export-all

#1336 Change the rich text max limit on frontend to 50000 [SCI-2780]
  app/assets/javascripts/my_modules/results.js.erb
  app/assets/javascripts/protocols/steps.js.erb
  app/assets/javascripts/sitewide/form_validators.js.erb
  config/locales/en.yml
Labels: master

#1340 Fix helpers to use with export all [SCI-2793]
  app/helpers/application_helper.rb
  app/helpers/tiny_mce_helper.rb
Labels: features/export-all

#1339 Fix relative links to files in export all PDF [SCI-2804]
  app/models/project.rb
  app/models/team_zip_export.rb
Labels: features/export-all

#1324 Export all - Projects view - projects endpoints (unit tests) [SCI-2732]
  .gitignore
  app/services/projects_overview_service.rb
  config/environments/test.rb
  spec/controllers/projects_controller_spec.rb
  spec/services/projects_overview_service_spec.rb
  spec/services/repository_datatable_service_spec.rb
Labels: features/export-all

#1347 Remove double initialization of comments on steps [SCI-2756]
  app/assets/javascripts/my_modules/protocols.js.erb
Labels: features/export-all

#1351 Fix zero limit config on export all
  app/controllers/teams_controller.rb
Labels: features/export-all

#1346 In project list table table is not updated when archiving/restoring project [SCI-2787]
  app/assets/javascripts/projects/index.js
  app/controllers/experiments_controller.rb
  app/controllers/my_modules_controller.rb
  app/controllers/projects_controller.rb
  app/models/user.rb
  app/views/projects/index.html.erb
  app/views/projects/index/_project.html.erb
  app/views/projects/index/_project_actions_dropdown.html.erb
  app/views/projects/index_dt.json.jbuilder
Labels: features/export-all

#1344 Fix issue with project dropdown caching [SCI-2783]
  app/models/user_project.rb
  app/views/projects/index/_project_actions_dropdown.html.erb
  app/views/projects/index/_team_projects.html.erb
Labels: features/export-all

#1355 Remove error message for index page and unauthenticated users [SCI-2775]
  config/routes.rb
Labels: features/export-all

#1345 Show all experiments and tasks for archived projects [SCI-2785]
  app/services/projects_overview_service.rb
Labels: features/export-all

#1354 Fix project start day in serializer [SCI-2820]
  app/serializers/api/v1/project_serializer.rb
Labels: core-api

#1353 Fix API endpoints that return file URLs [SCI-2771]
  app/serializers/api/v1/repository_asset_value_serializer.rb
  app/serializers/api/v1/result_asset_serializer.rb
Labels: core-api

#1348 Fix inventory column creation permission check [SCI-2782]
  app/controllers/api/v1/inventory_columns_controller.rb
Labels: core-api

#1350 Fix relationships in activities serializer [SCI-2821]
  app/serializers/api/v1/activity_serializer.rb
Labels: core-api

#1352 Rename user_id to sub in JWT [SCI-2814]
  app/controllers/api/api_controller.rb
  app/services/api/core_jwt.rb
  spec/support/api_helper.rb
Labels: core-api

#1349 Fix project index endpoint permission bug [SCI-2818]
  app/controllers/api/v1/projects_controller.rb
  app/models/project.rb
Labels: core-api

#1356 Remove show protocol api endpoint
  app/controllers/api/v1/protocols_controller.rb
  config/routes.rb
Labels: core-api
