Repository scinote-eln/scinote-web, pull requests merged in 2019-10, with the labels that each got.

#1973 Refactor Global Activities side filters [SCI-3739][SCI-3753]
  app/assets/javascripts/application.js.erb
  app/assets/javascripts/global_activities/index.js
  app/assets/javascripts/global_activities/side_pane.js
  app/assets/javascripts/sitewide/dropdown_selector.js
  app/assets/stylesheets/constants.scss
  app/assets/stylesheets/global_activities.scss
  app/assets/stylesheets/shared/dropdown_selector.scss
  app/assets/stylesheets/themes/scinote.scss
  app/controllers/global_activities_controller.rb
  app/models/activity.rb
  app/models/repository_row.rb
  app/models/team.rb
  app/models/user.rb
  app/views/global_activities/_activity.html.erb
  app/views/global_activities/_activity_list.html.erb
  app/views/global_activities/_side_filters.html.erb
  app/views/global_activities/_top_pane.html.erb
  app/views/global_activities/index.html.erb
  app/views/my_modules/activities.html.erb
  app/views/my_modules/activities/_side_filters.html.erb
  app/views/my_modules/activities/_top_pane.html.erb
  config/initializers/extends.rb
  config/locales/en.yml
  config/locales/global_activities/en.yml
  config/routes.rb
  db/migrate/20190903145834_convert_activities_json_to_jsonb.rb
Labels: features/global-activities

#2144 Make repository value render more flexible
  app/helpers/repository_datatable_helper.rb
Labels: features/new-column-types

#2114 Add predefined avatars [SCI-3927]
  app/assets/javascripts/sitewide/avatar_modal.js
  app/assets/javascripts/users/registrations/edit.js
  app/assets/stylesheets/shared/avatar.scss
  app/controllers/users/registrations_controller.rb
  app/models/protocol.rb
  app/views/users/registrations/edit.html.erb
  app/views/users/shared/_user_avatars_modal.html.erb
  config/locales/en.yml
  features/settings_page/profile.feature
  features/step_definitions/shared_steps.rb
  public/images/avatars/1.png
  public/images/avatars/10.png
  public/images/avatars/11.png
  public/images/avatars/12.png
  public/images/avatars/13.png
  public/images/avatars/14.png
  public/images/avatars/15.png
  public/images/avatars/16.png
  public/images/avatars/2.png
  public/images/avatars/3.png
  public/images/avatars/4.png
  public/images/avatars/5.png
  public/images/avatars/6.png
  public/images/avatars/7.png
  public/images/avatars/8.png
  public/images/avatars/9.png
Labels: Avatars

#2156 Statuses column type [SCI-3919]
  app/controllers/repository_columns/base_columns_controller.rb
  app/controllers/repository_columns/status_columns_controller.rb
  app/models/repository_cell.rb
  app/models/repository_column.rb
  app/models/repository_status_item.rb
  app/models/repository_status_value.rb
  app/models/user.rb
  app/services/repository_columns/column_service.rb
  app/services/repository_columns/create_asset_column_service.rb
  app/services/repository_columns/create_date_column_service.rb
  app/services/repository_columns/create_list_column_service.rb
  app/services/repository_columns/create_status_column_service.rb
  app/services/repository_columns/create_text_column_service.rb
  app/services/repository_columns/delete_status_column_service.rb
  app/services/repository_columns/update_status_column_service.rb
  config/initializers/extends.rb
  config/routes.rb
  db/migrate/20191003091614_create_repository_status_items.rb
  db/migrate/20191007144622_create_repository_status_values.rb
  db/structure.sql
  spec/controllers/repository_columns/status_columns_controller_spec.rb
  spec/factories/repository_cells.rb
  spec/factories/repository_columns.rb
  spec/factories/repository_status_items.rb
  spec/factories/repository_status_values.rb
  spec/models/repository_cell_spec.rb
  spec/models/repository_status_item_spec.rb
  spec/models/repository_status_value_spec.rb
  spec/services/repository_columns/create_status_column_service_spec.rb
  spec/services/repository_columns/delete_status_column_service_spec.rb
  spec/services/repository_columns/update_status_column_service_spec.rb
Labels: WIP, features/new-column-types

#2151 Update basic modal layout for creating new column types [SCI-3921]
  app/assets/javascripts/application.js.erb
  app/assets/javascripts/repository_columns/index.js
  app/assets/javascripts/repository_columns/index.js.erb
  app/assets/stylesheets/repositories.scss
  app/assets/stylesheets/themes/repositories.scss
  app/controllers/repository_columns_controller.rb
  app/helpers/repository_columns_helper.rb
  app/views/repository_columns/_delete_column_modal.html.erb
  app/views/repository_columns/_manage_column_modal.html.erb
  app/views/repository_columns/_manage_column_modal_content.html.erb
  app/views/repository_columns/index.html.erb
  app/views/repository_columns/manage_column_partials/_asset.html.erb
  app/views/repository_columns/manage_column_partials/_date.html.erb
  app/views/repository_columns/manage_column_partials/_list.html.erb
  app/views/repository_columns/manage_column_partials/_text.html.erb
  config/initializers/assets.rb
  config/locales/en.yml
  config/routes.rb
Labels: features/new-column-types

#2085 Create/Update result(file) API endpoint [SCI-3837] [SCI-3838]
  app/controllers/api/v1/results_controller.rb
  app/serializers/api/v1/asset_serializer.rb
  config/routes.rb
  spec/fixtures/files/apple.jpg
  spec/requests/api/v1/assets_controller_spec.rb
  spec/requests/api/v1/results_controller_spec.rb
Labels: core-api

#2089 Rake task and unique index for canvas postion [SCI-3887]
  .rubocop.yml
  app/models/my_module.rb
  config/locales/en.yml
  lib/tasks/my_modules.rake
  spec/lib/tasks/my_modules_spec.rb
  spec/models/my_module_spec.rb
Labels: core-api

#2170 Fix for downloading image [SCI-4008]
  app/assets/javascripts/tinymce/plugins/custom_image_toolbar/plugin.js
  app/models/concerns/tiny_mce_images.rb
Labels: master

#2178 Add render views for datatables [SCI-4033]
  app/assets/javascripts/application.js.erb
  app/assets/javascripts/repositories/renderers/view_renderers.js
  app/assets/javascripts/repositories/repository_datatable.js
  app/helpers/repository_datatable_helper.rb
  app/serializers/repository_datatable/repository_asset_value_serializer.rb
  app/serializers/repository_datatable/repository_list_value_serializer.rb
  app/serializers/repository_datatable/repository_text_value_serializer.rb
Labels: features/new-column-types

#2179 Add default renders for new columns type
  app/assets/javascripts/repositories/renderers/view_renderers.js
  app/assets/javascripts/repositories/repository_datatable.js
Labels: features/new-column-types

#2190 Small improvements in the avatar settings [SCI-4023]
  app/assets/stylesheets/themes/scinote.scss
  app/views/users/registrations/edit.html.erb
  public/images/avatars/1.png
  public/images/avatars/10.png
  public/images/avatars/11.png
  public/images/avatars/12.png
  public/images/avatars/13.png
  public/images/avatars/14.png
  public/images/avatars/15.png
  public/images/avatars/16.png
  public/images/avatars/2.png
  public/images/avatars/3.png
  public/images/avatars/4.png
  public/images/avatars/5.png
  public/images/avatars/6.png
  public/images/avatars/7.png
  public/images/avatars/8.png
  public/images/avatars/9.png
Labels: Avatars
