Repository scinote-eln/scinote-web, pull requests merged in 2019-03, with the labels that each got.

#1543 Improve speed of index query in projects overview service [SCI-3107]
  app/services/projects_overview_service.rb
Labels: master

#1524 Adding inline editing to experiment title, project title and task title [SCI-3059]
  app/assets/javascripts/application.js.erb
  app/assets/javascripts/shared/inline_editing.js
  app/assets/stylesheets/partials/_inline_editing.scss
  app/controllers/experiments_controller.rb
  app/views/experiments/canvas.html.erb
  app/views/global_activities/_team_selection.html.erb
  app/views/global_activities/index.html.erb
  app/views/my_modules/protocols.html.erb
  app/views/projects/show.html.erb
  app/views/shared/_inline_editing.html.erb
  app/views/shared/_secondary_navigation.html.erb
Labels: features/note-section

#1529 New inline tags editing in task [SCI 3093]
  app/assets/javascripts/my_modules.js
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/my_modules/protocols/index.scss
  app/assets/stylesheets/select2_customizations.scss
  app/controllers/my_module_tags_controller.rb
  app/controllers/tags_controller.rb
  app/views/my_modules/_module_header.html.erb
  app/views/my_modules/_tags.html.erb
  config/locales/en.yml
  config/routes.rb
Labels: features/note-section

#1521 Adding side pane filter and top pane tags [SCI - 3008, 3009, 3010, 3011, 3012, 3018, 3019, 3020]
  app/assets/javascripts/global_activities/side_pane.js
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/global_activities.scss
  app/controllers/global_activities_controller.rb
  app/models/activity.rb
  app/models/team.rb
  app/models/user_team.rb
  app/views/global_activities/_date_picker.html.erb
  app/views/global_activities/_side_filters.html.erb
  app/views/global_activities/_team_selection.html.erb
  app/views/global_activities/_top_pane.html.erb
  app/views/global_activities/index.html.erb
  config/application.rb
  config/initializers/assets.rb
  config/locales/global_activities/en.yml
  config/routes.rb
Labels: features/global-activities

#1565 Fix stack trace trimming on WOPI middleware
  config/initializers/backtrace_silencers.rb
Labels: master

#1562 New global activities [SCI-3138]
  app/controllers/experiments_controller.rb
  app/controllers/my_module_tags_controller.rb
  app/controllers/my_modules_controller.rb
  app/controllers/protocols_controller.rb
  app/controllers/repositories_controller.rb
  app/controllers/repository_columns_controller.rb
  app/controllers/repository_rows_controller.rb
  app/controllers/steps_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/teams_controller.rb
  app/controllers/users/invitations_controller.rb
  app/controllers/users/settings/user_teams_controller.rb
  app/models/experiment.rb
  app/models/protocol.rb
  config/initializers/extends.rb
  config/locales/en.yml
  spec/controllers/experiments_controller_spec.rb
  spec/controllers/invitations_controller_spec.rb
  spec/controllers/my_module_tags_controller_spec.rb
  spec/controllers/my_modules_controller_spec.rb
  spec/controllers/projects_controller_spec.rb
  spec/controllers/protocols_controller_spec.rb
  spec/controllers/repositories_controller_spec.rb
  spec/controllers/repository_columns_controller_sepc.rb
  spec/controllers/repository_rows_controller_spec.rb
  spec/controllers/steps_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/teams_controller_spec.rb
  spec/controllers/user_teams_controller_spec.rb
  spec/factories/experiments.rb
  spec/factories/my_module_tags.rb
  spec/factories/my_modules.rb
  spec/factories/protocols.rb
  spec/factories/repositories.rb
  spec/factories/repository.rb
  spec/factories/repository_cell.rb
  spec/factories/repository_cells.rb
  spec/factories/repository_columns.rb
  spec/factories/repository_rows.rb
  spec/factories/user_teams.rb
  spec/fixtures/files/my_test_protocol.eln
  spec/models/experiment_spec.rb
  spec/models/protocol_spec.rb
  spec/models/repository_asset_value_spec.rb
  spec/models/repository_column_spec.rb
  spec/models/repository_list_value_spec.rb
  spec/models/repository_spec.rb
  spec/services/client_api/user_team_service_spec.rb
  spec/services/experiments/copy_experiment_as_template_service_sepc.rb
  spec/services/experiments/generate_workflow_image_service_spec.rb
  spec/services/experiments/move_to_project_service_spec.rb
  spec/services/repository_datatable_service_spec.rb
Labels: features/global-activities

#1559 Office file in inventory item can be edited in spite of assigned item to a locked task[SCI-2949]
  app/controllers/assets_controller.rb
Labels: master

#1569 Fix file format on saving file after editing
  app/assets/javascripts/sitewide/file_preview.js.erb
  app/controllers/assets_controller.rb
Labels: features/image-annotation

#1570 Add viewing permissions for global activities [SCI-2997]
  app/controllers/global_activities_controller.rb
  app/models/user_team.rb
  app/services/activities_service.rb
  app/views/global_activities/_side_filters.html.erb
Labels: features/global-activities

#1568 Updating permission check for image editing [SCI - 3153, 3159]
  app/assets/javascripts/sitewide/file_preview.js.erb
  app/controllers/assets_controller.rb
  app/models/asset.rb
  app/views/shared/_file_preview_modal.html.erb
  config/initializers/constants.rb
Labels: features/image-annotation

#1560 Change line length in rubocop to 120
  .rubocop.yml
Labels: master

#1567 [SCI-3166] Finalize global activities front end
  app/assets/javascripts/global_activities/index.js
  app/assets/javascripts/global_activities/side_pane.js
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/global_activities.scss
  app/controllers/global_activities_controller.rb
  app/helpers/global_activities_helper.rb
  app/models/activity.rb
  app/models/protocol.rb
  app/services/activities/create_activity_service.rb
  app/services/activities_service.rb
  app/views/global_activities/_activity.html.erb
  app/views/global_activities/_activity_list.html.erb
  app/views/global_activities/references/_experiment.html.erb
  app/views/global_activities/references/_my_module.html.erb
  app/views/global_activities/references/_project.html.erb
  app/views/global_activities/references/_protocol.html.erb
  app/views/global_activities/references/_report.html.erb
  app/views/global_activities/references/_repository.html.erb
  app/views/global_activities/references/_result.html.erb
  app/views/global_activities/references/_team.html.erb
  config/initializers/extends.rb
  config/locales/en.yml
  config/locales/global_activities/en.yml
  db/schema.rb
  spec/models/activity_spec.rb
Labels: features/global-activities

#1541 Duplicates name protocol bug and rake task to rename duplicates [SCI-3047]
  app/assets/javascripts/my_modules/protocols.js.erb
  lib/tasks/rename_duplicates_protocols.rake
Labels: :bangbang: migration :bangbang:, master

#1573 Re-enable RTE for steps description fields [SCI-3111].
  app/assets/javascripts/my_modules/protocols.js.erb
  app/assets/javascripts/protocols/steps.js.erb
  app/assets/javascripts/sitewide/tiny_mce.js
  app/assets/stylesheets/my_modules.scss
  app/assets/stylesheets/tiny_mce.scss
  app/controllers/my_modules_controller.rb
  app/helpers/bootstrap_form_helper.rb
  app/views/my_modules/_description_form.html.erb
  app/views/my_modules/_module_header.html.erb
  app/views/my_modules/protocols.html.erb
  app/views/my_modules/protocols/_protocol_description_form.html.erb
  app/views/steps/_empty_step.html.erb
  config/routes.rb
Labels: features/note-section

#1571 Implement changes to current activity loging [SCI-3021]
  app/controllers/canvas_controller.rb
  app/controllers/experiments_controller.rb
  app/controllers/global_activities_controller.rb
  app/controllers/my_module_comments_controller.rb
  app/controllers/my_modules_controller.rb
  app/controllers/project_comments_controller.rb
  app/controllers/projects_controller.rb
  app/controllers/protocols_controller.rb
  app/controllers/reports_controller.rb
  app/controllers/result_assets_controller.rb
  app/controllers/result_comments_controller.rb
  app/controllers/result_tables_controller.rb
  app/controllers/result_texts_controller.rb
  app/controllers/results_controller.rb
  app/controllers/step_comments_controller.rb
  app/controllers/steps_controller.rb
  app/controllers/user_my_modules_controller.rb
  app/controllers/user_projects_controller.rb
  app/helpers/notifications_helper.rb
  app/models/experiment.rb
  app/models/protocol.rb
  app/models/step.rb
  app/services/experiments/copy_experiment_as_template_service.rb
  app/services/experiments/move_to_project_service.rb
  app/utilities/delayed_uploader_demo.rb
  app/utilities/first_time_data_generator.rb
  app/utilities/wopi_util.rb
  config/initializers/extends.rb
  config/locales/en.yml
  config/locales/global_activities/en.yml
  spec/controllers/experiments_controller_spec.rb
  spec/controllers/project_comments_controller_spec.rb
  spec/controllers/projects_controller_spec.rb
  spec/controllers/reports_controller_spec.rb
  spec/controllers/repository_list_items_controller_spec.rb
  spec/controllers/result_assets_controller_spec.rb
  spec/controllers/result_comments_controller_spec.rb
  spec/controllers/result_tables_controller_spec.rb
  spec/controllers/result_texts_controller_spec.rb
  spec/controllers/results_controller_spec.rb
  spec/controllers/system_notifications_controller_spec.rb
  spec/controllers/user_projects_controller_spec.rb
  spec/factories/project_comments.rb
  spec/factories/reports.rb
  spec/factories/result_comments.rb
  spec/factories/result_table.rb
  spec/services/experiments/copy_experiment_as_template_service_sepc.rb
  spec/services/experiments/move_to_project_service_spec.rb
Labels: features/global-activities

#1563 Image editor improvements [SCI - 3158, 3160, 3156, 3154]
  app/assets/javascripts/sitewide/file_preview.js
  app/assets/javascripts/sitewide/file_preview.js.erb
  package.json
Labels: features/image-annotation

#1578 Remove whitespace to breadcrumbs [SCI-3218]
  app/assets/stylesheets/global_activities.scss
  app/views/global_activities/references/_experiment.html.erb
  app/views/global_activities/references/_my_module.html.erb
  app/views/global_activities/references/_project.html.erb
  app/views/global_activities/references/_protocol.html.erb
  app/views/global_activities/references/_report.html.erb
  app/views/global_activities/references/_repository.html.erb
  app/views/global_activities/references/_result.html.erb
  app/views/global_activities/references/_team.html.erb
Labels: features/global-activities, priority

#1579 Remove white spaces for date in global activities [SCI-3205]
  app/assets/stylesheets/global_activities.scss
  app/views/global_activities/_activity_list.html.erb
Labels: features/global-activities, priority

#1583 Move dropdown container to left [SCI-3203]
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/select2_customizations.scss
  app/views/global_activities/_side_filters.html.erb
Labels: features/global-activities, priority

#1577 Adding steps to Protocol on the task [SCI-3072]
  app/assets/javascripts/protocols/steps.js.erb
  app/views/protocols/_steps.html.erb
  app/views/protocols/index/_protocol_preview_modal_body.html.erb
  config/locales/en.yml
Labels: features/note-section

#1582 Step header changes, removed vertical line [SCI-3134]
  app/assets/stylesheets/steps.scss
  app/assets/stylesheets/themes/scinote.scss
  app/views/reports/elements/_my_module_step_element.html.erb
  app/views/steps/_step.html.erb
Labels: master

#1588 Adding activity groups [SCI-3203]
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/global_activities.scss
  app/assets/stylesheets/select2_customizations.scss
  app/models/activity.rb
  app/views/global_activities/_side_filters.html.erb
  config/initializers/extends.rb
Labels: features/global-activities, priority

#1586 Fix multiple bugs in global activities [SCI-3197][SCI-3199][SCI-3213][SCI-3225]
  app/assets/javascripts/global_activities/index.js
  app/assets/javascripts/global_activities/side_pane.js
  app/assets/stylesheets/global_activities.scss
  app/controllers/global_activities_controller.rb
  app/controllers/reports_controller.rb
  app/models/report.rb
  app/services/activities_service.rb
  app/views/global_activities/_activity.html.erb
  app/views/global_activities/_date_picker.html.erb
  app/views/global_activities/_side_filters.html.erb
  app/views/global_activities/references/_protocol.html.erb
  app/views/global_activities/references/_report.html.erb
  config/locales/global_activities/en.yml
Labels: features/global-activities

#1592 Reduce font size of filters title [SCI-3208]
  app/assets/stylesheets/global_activities.scss
  app/views/global_activities/_side_filters.html.erb
Labels: features/global-activities

#1598 Adding localization for activity name and activity group [SCI-3194]
  app/assets/javascripts/select2_customization.js
  app/models/activity.rb
  config/locales/global_activities/en.yml
Labels: features/global-activities

#1544 Assigned items has lost blue dot when using filter [SCI-3087]
  app/services/repository_datatable_service.rb
Labels: master

#1599 Adding placeholders to filters [SCI-3210]
  app/assets/javascripts/global_activities/side_pane.js
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/global_activities.scss
  app/assets/stylesheets/select2_customizations.scss
  app/views/global_activities/_date_picker.html.erb
  app/views/global_activities/_side_filters.html.erb
  config/locales/global_activities/en.yml
Labels: features/global-activities

#1602 Adding localization to subjects group name in filters [SCI-3239]
  app/controllers/global_activities_controller.rb
  config/locales/global_activities/en.yml
Labels: features/global-activities

#1597 Add message for empty activity list [SCI-3224]
  app/assets/javascripts/global_activities/side_pane.js
  app/assets/stylesheets/global_activities.scss
  app/views/global_activities/index.html.erb
  config/locales/en.yml
Labels: features/global-activities

#1553 adding filters for task activities [SCI-3076]
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/select2_customizations.scss
  app/controllers/my_modules_controller.rb
  app/views/global_activities/_activity_list.html.erb
  app/views/my_modules/activities.html.erb
  app/views/my_modules/activities/_activity.html.erb
  app/views/my_modules/activities/_list_activities.html.erb
  app/views/my_modules/activities/_side_filters.html.erb
  app/views/my_modules/activities/_top_pane.html.erb
  config/locales/en.yml
  config/routes.rb
  db/schema.rb
Labels: features/global-activities

#1608 Adding deselect button to objects filter and some localization fix [SCI-3248]
  app/assets/javascripts/select2_customization.js
  app/assets/stylesheets/select2_customizations.scss
  app/views/global_activities/_side_filters.html.erb
  config/locales/global_activities/en.yml
Labels: features/global-activities

#1606 Fix hot buttons bug for date selection [SCI-3249]
  app/assets/javascripts/global_activities/side_pane.js
Labels: features/global-activities

#1605 Adding children selector to global activities subjects [SCI-3247]
  app/assets/javascripts/global_activities/side_pane.js
  app/controllers/global_activities_controller.rb
  app/controllers/my_modules_controller.rb
  app/services/activities_service.rb
  config/initializers/extends.rb
Labels: features/global-activities

#1612 Adding missed project comment activities [SCI-3250]
  config/initializers/extends.rb
Labels: features/global-activities
