Repository scinote-eln/scinote-web, pull requests merged in 2020-03, with the labels that each got.

#2440 Add pagination for current tasks on dashboard [SCI-4354]
  app/assets/javascripts/dashboard/current_tasks.js
  app/assets/javascripts/sitewide/infinite_scroll.js
  app/assets/stylesheets/dashboard/current_tasks.scss
  app/controllers/dashboard/current_tasks_controller.rb
  config/initializers/constants.rb
Labels: features/dashboard

#2449 Add endpoints for lists of projects and experiments with filtering… [SCI-4376][SCI-4377]
  app/assets/javascripts/dashboard/quick_start.js
  app/assets/stylesheets/dashboard/create_task_modal.scss
  app/controllers/dashboard/quick_start_controller.rb
  app/services/create_project_service.rb
  app/views/dashboards/_create_task_modal.html.erb
  config/locales/dashboard/en.yml
  config/routes.rb
Labels: features/dashboard

#2480 Fix padding for current tasks widget [SCI-4457]
  app/assets/stylesheets/dashboard/current_tasks.scss
Labels: NextRelease

#2479 Fix new task modal css error [SCI-4473]
  app/assets/stylesheets/dashboard/create_task_modal.scss
Labels: NextRelease

#2484 Teams dropdown appears every time [SCI-4424]
  app/views/shared/_navigation.html.erb
Labels: NextRelease

#2495 Add new task general layout and add notes section [SCI-4483] [SCI-4486]
  app/assets/stylesheets/my_modules/protocols/index.scss
  app/views/my_modules/_description_form.html.erb
  app/views/my_modules/_my_module_details.html.erb
  app/views/my_modules/_my_module_notes.html.erb
  app/views/my_modules/_my_module_protocol.html.erb
  app/views/my_modules/protocols.html.erb
  config/locales/en.yml
  features/protocol_step.feature
Labels: features/new-task-layout
