Repository scinote-eln/scinote-web, pull requests merged in 2023-03, with the labels that each got.

#5024 Position of newly added text/file/table to step [SCI-7938]
  app/javascript/vue/protocol/step.vue
  app/javascript/vue/protocol/step_attachments/file_modal.vue
Labels: NextRelease

#5036 Fix TOC style [SCI-7981]
  app/assets/stylesheets/my_modules.scss
  app/assets/stylesheets/steps/components/text.scss
Labels: NextRelease

#5042 Add linked_at to the Protocols [SCI-7964]
  app/models/protocol.rb
  app/views/my_modules/protocols/_protocol_status_bar.html.erb
  db/migrate/20230227131215_add_linked_at_to_table.rb
Labels: features/new-protocol-repository

#5047 Protocol table fix sorting with archived columns [SCI-8028]
  app/datatables/protocols_datatable.rb
  app/views/protocols/index/_protocol_versions_modal.html.erb
Labels: features/new-protocol-repository

#4949 Improve the print functionality for protocol [SCI-7237]
  app/assets/stylesheets/layouts/print_protocol.scss
  app/views/protocols/print.html.erb
Labels: NextRelease

#5049 Disable save as draft if draft exists [SCI-8025]
  app/permissions/team.rb
  app/views/protocols/index/_protocol_versions_modal.html.erb
Labels: features/new-protocol-repository

#5057 Add new protocol modal on dashboard [SCI-8042]
  app/views/dashboards/_quick_start.html.erb
Labels: features/new-protocol-repository

#5053 Fix protocol name field editability [SCI-8033]
  app/controllers/protocols_controller.rb
  app/models/protocol.rb
Labels: features/new-protocol-repository

#5064 Fix protocol version modification info text [SCI-8061]
  app/views/protocols/index/_protocol_versions_modal.html.erb
  config/locales/en.yml
Labels: features/new-protocol-repository

#5063 Add a description to cloned protocol template from protocol [SCI-8053]
  app/models/protocol.rb
Labels: features/new-protocol-repository

#5066 Fix save as draft action [SCI-8068]
  app/controllers/protocols_controller.rb
  app/models/protocol.rb
  app/views/protocols/index/_protocol_versions.html.erb
  app/views/protocols/index/_protocol_versions_modal.html.erb
Labels: features/new-protocol-repository

#5061 Fix loading of i icon on protocol [SCI-8051]
  app/assets/javascripts/my_modules/protocols.js
  app/javascript/vue/protocol/container.vue
Labels: features/new-protocol-repository

#5062 Change migration of protocol templates - do not publish unlinked protocols [SCI-8062]
  db/migrate/20221125133611_add_protocol_versioning.rb
  db/structure.sql
Labels: features/new-protocol-repository

#5072 Fix protocol repository sidebar on archived view [SCI-8030]
  app/helpers/protocols_helper.rb
  app/views/protocols/index.html.erb
  app/views/shared/sidebar/_templates_sidebar.html.erb
  config/locales/en.yml
Labels: NextRelease, features/new-protocol-repository

#5051 Save last_modified_by on protocol update [SCI-8021]
  app/controllers/protocols_controller.rb
  app/models/protocol.rb
  app/models/step.rb
Labels: features/new-protocol-repository

#5070 Fix load protocol to task [SCI-8072]
  app/controllers/protocols_controller.rb
  app/datatables/protocols_datatable.rb
  app/models/protocol.rb
  app/utilities/protocols_exporter.rb
  app/utilities/protocols_exporter_v2.rb
Labels: features/new-protocol-repository

#5073 Fix protocol template access filter [SCI-7988]
  app/datatables/protocols_datatable.rb
Labels: features/new-protocol-repository

#5071 Ensure user assignments stay in sync with protocol versions [SCI-8060]
  app/jobs/user_assignments/generate_user_assignments_job.rb
  app/models/concerns/assignable.rb
  app/models/protocol.rb
  app/models/user_assignment.rb
Labels: features/new-protocol-repository

#5068 Improve filtering in protocols datatable [SCI-8020]
  app/datatables/protocols_datatable.rb
Labels: features/new-protocol-repository

#5081 Fix protocol Publish button behavior after canceling of publish action [SCI-8068]
  app/javascript/vue/protocol/container.vue
Labels: features/new-protocol-repository

#5085 Fix version button at action toolbar [SCI-8065]
  app/assets/javascripts/protocols/index.js
  app/datatables/protocols_datatable.rb
Labels: features/new-protocol-repository

#5082 Switch to showing of total sum of all versions in protocols table [SCI-8066]
  app/controllers/protocols_controller.rb
  app/datatables/protocols_datatable.rb
  app/models/protocol.rb
Labels: features/new-protocol-repository

#5086 Fix protocol creation error message [SCI-8003]
  app/controllers/protocols_controller.rb
  config/locales/en.yml
Labels: features/new-protocol-repository

#5089 Fix archive/restore propagation [SCI-8004]
  app/controllers/protocols_controller.rb
Labels: features/new-protocol-repository

#5084 Fix view access modals [SCI-8040]
  app/views/access_permissions/modals/_show_modal.html.erb
  app/views/access_permissions/projects/show.json.jbuilder
  app/views/access_permissions/protocols/show.json.jbuilder
Labels: features/new-protocol-repository

#5093 Access modal translation amends [SCI-8060]
  config/locales/en.yml
Labels: features/new-protocol-repository

#5035 Fix protocols repository table CSS [SCI-7996]
  app/assets/stylesheets/partials/_sidebar.scss
  app/assets/stylesheets/protocols/index.scss
  app/assets/stylesheets/shared_styles/elements/buttons.scss
  app/views/protocols/index/_general_toolbar.html.erb
  app/views/protocols/index/_protocol_filters.html.erb
  config/locales/en.yml
Labels: NextRelease, features/new-protocol-repository

#5077 Archived protocol template navigation, icon, button [SCI-7954]
  app/javascript/vue/protocol/protocolMetadata.vue
  app/serializers/protocol_serializer.rb
  app/views/protocols/show.html.erb
Labels: features/new-protocol-repository

#5058 Update logic for linked protocol templates with task [SCI-7973]
  app/controllers/protocols_controller.rb
  app/models/my_module.rb
  app/models/protocol.rb
  app/serializers/protocol_serializer.rb
  app/views/my_modules/protocols/_protocol_status_bar.html.erb
  config/locales/en.yml
  spec/controllers/protocols_controller_spec.rb
  spec/factories/protocols.rb
  spec/services/model_importers/team_importer_spec.rb
Labels: features/new-protocol-repository

#5091 Fix print protocol button on protocol show page [SCI-8079]
  app/javascript/vue/protocol/protocolMetadata.vue
  app/serializers/protocol_serializer.rb
Labels: features/new-protocol-repository

#5092 Add empty state for protocol actions toolbar [SCI-8077]
  app/assets/javascripts/protocols/index.js
  app/assets/stylesheets/shared/datatable.scss
  app/views/protocols/index/_action_toolbar.html.erb
  config/locales/en.yml
Labels: features/new-protocol-repository

#4888 Hover for sorting function in other SN tables (with sorting function) [SCI-7562]
  app/assets/javascripts/label_templates/label_templates_datatable.js
  app/assets/javascripts/users/settings/teams/show.js
  app/assets/stylesheets/extend/datatable.scss
  config/initializers/constants.rb
Labels: NextRelease

#5067 Old buttons at importing protocols.io protocol [SCI-8032]
  app/assets/javascripts/protocols/protocolsio.js
  app/assets/stylesheets/protocols/preview_modal.scss
  app/views/protocol_importers/_import_form.html.erb
  app/views/protocol_importers/_preview_modal_footer.html.erb
  app/views/protocols/index.html.erb
  app/views/protocols/index/_protocolsio_modal_body.html.erb
  config/locales/en.yml
Labels: NextRelease, features/new-protocol-repository

#5069 Fix protocols re-assigning when removing user from a team [SCI-8034]
  app/controllers/users/settings/user_teams_controller.rb
Labels: features/new-protocol-repository

#5088 Fix the content of the Load from the templates table [SCI-8049]
  app/datatables/load_from_repository_protocols_datatable.rb
Labels: features/new-protocol-repository

#5095 Fix protocol duplication table reload [SCI-8074]
  app/assets/javascripts/protocols/index.js
Labels: features/new-protocol-repository

#5094 PET access modal fixes [SCI-8038]
  app/assets/stylesheets/access_permissions/access_modal.scss
  app/controllers/access_permissions/projects_controller.rb
  app/views/access_permissions/my_modules/my_module_member.json.jbuilder
  app/views/access_permissions/partials/_default_public_user_role_form.html.erb
Labels: features/new-protocol-repository

#5096 Add draft created activity [SCI-8093]
  app/controllers/protocols_controller.rb
  config/initializers/extends.rb
  config/locales/global_activities/en.yml
Labels: features/new-protocol-repository

#5098 Remove not needed user roles on protocol access modals [SCI-8031]
  app/helpers/user_roles_helper.rb
  app/views/access_permissions/partials/_default_public_user_role_form.html.erb
  app/views/access_permissions/partials/_member_field.html.erb
  app/views/access_permissions/partials/_new_assignments_form.html.erb
  app/views/access_permissions/partials/_user_assignment_field.html.erb
  app/views/projects/index/modals/_edit_project_contents.html.erb
  app/views/projects/index/modals/_new_project.html.erb
  app/views/protocols/index/_new_protocol_modal.html.erb
Labels: features/new-protocol-repository

#5101 Fix protocols sorting by assigned users [SCI-8074]
  app/datatables/protocols_datatable.rb
Labels: features/new-protocol-repository

#5103 Update access modal sizing [SCI-8039]
  app/assets/stylesheets/access_permissions/access_modal.scss
Labels: features/new-protocol-repository

#5099 Fix protocol filtering by published attributes and draft presence [SCI-8070]
  app/datatables/protocols_datatable.rb
Labels: features/new-protocol-repository

#5116 Add all team members through access modal [SCI-8063]
  app/controllers/access_permissions/projects_controller.rb
  app/controllers/access_permissions/protocols_controller.rb
  app/models/protocol.rb
  app/views/access_permissions/partials/_new_assignments_form.html.erb
  app/views/access_permissions/partials/_public_assignment_field.html.erb
  config/locales/en.yml
Labels: features/new-protocol-repository

#5109 Fix loading of protocols.io to protocol templates [SCI-8111]
  app/views/protocol_importers/_preview_modal_footer.html.erb
Labels: features/new-protocol-repository

#5113 Clear name on protocol create modal open [SCI-8003]
  app/assets/javascripts/protocols/new_protocol.js
  app/views/protocols/index/_new_protocol_modal.html.erb
Labels: features/new-protocol-repository

#5110 CSS bugs for "Protocol templates" [SCI-8045]
  app/assets/javascripts/protocols/index.js
  app/assets/stylesheets/my_modules/protocol.scss
  app/assets/stylesheets/my_modules/protocols/index.scss
  app/assets/stylesheets/protocols/index.scss
  app/assets/stylesheets/protocols/protocol.scss
  app/views/my_modules/protocols/_protocol_status_bar.html.erb
  app/views/protocols/index/_protocolsio_modal_body.html.erb
  config/locales/en.yml
Labels: NextRelease, features/new-protocol-repository

#5118 Fix read-only experiment access modal display [SCI-8040]
  app/views/access_permissions/experiments/show.json.jbuilder
Labels: features/new-protocol-repository

#5123 Preserve old protocol types for backward compatibility, fix protocol draft user permissions [SCI-8083]
  app/models/protocol.rb
  config/initializers/extends/permission_extends.rb
  db/migrate/20221125133611_add_protocol_versioning.rb
Labels: features/new-protocol-repository

#5122 Fix click-away filtering for empty filter states [SCI-8103]
  app/assets/javascripts/experiments/table.js
  app/assets/javascripts/projects/index.js
  app/assets/javascripts/projects/show.js
  app/assets/javascripts/protocols/index.js
  app/assets/javascripts/sitewide/filter_dropdown.js
Labels: features/new-protocol-repository

#5129 Fix save as new protocol modal [SCI-8003]
  app/assets/javascripts/protocols/new_protocol.js
Labels: features/new-protocol-repository

#5076 Incorrect bottom action bar states for Protocol templates [SCI-8008]
  app/assets/stylesheets/shared/datatable.scss
Labels: features/new-protocol-repository

#4873 Update of a Task Filters on a dashboard (Clear/Close function, Show results) [SCI-7607]
  app/assets/javascripts/dashboard/current_tasks.js
  app/assets/stylesheets/dashboard/current_tasks.scss
  app/views/dashboards/_current_tasks.html.erb
  config/locales/dashboard/en.yml
Labels: NextRelease

#5131 CSS: Protocol template - Details [SCI-8108]
  app/assets/stylesheets/my_modules/protocols/index.scss
  app/assets/stylesheets/protocols/index.scss
  app/assets/stylesheets/protocols/protocol.scss
  app/javascript/vue/protocol/protocolMetadata.vue
Labels: NextRelease, features/new-protocol-repository

#5125 Fix revert protocol action for linked task changes [SCI-8110]
  app/assets/javascripts/my_modules/protocols.js
  app/javascript/vue/protocol/container.vue
  app/javascript/vue/protocol/mixins/attachments.js
  app/javascript/vue/protocol/step.vue
  app/serializers/protocol_serializer.rb
Labels: features/new-protocol-repository

#5102 Add micro-interactions for protocol repository modals [SCI-8091]
  app/assets/javascripts/protocols/new_protocol.js
  app/assets/javascripts/shared/swap_remote_container.js
  app/javascript/vue/protocol/modals/publish_protocol.vue
  app/views/access_permissions/partials/_new_assignments_form.html.erb
Labels: features/new-protocol-repository

#5128 Fix access modal for protocol [SCI-8063]
  app/assets/javascripts/protocols/index.js
  app/controllers/access_permissions/protocols_controller.rb
  app/models/protocol.rb
  app/views/access_permissions/partials/_default_public_user_role_form.html.erb
Labels: features/new-protocol-repository

#5138 Fix css and display for access modal [SCI-8127]
  app/assets/stylesheets/access_permissions/access_modal.scss
  app/views/access_permissions/partials/_member_field.html.erb
Labels: features/new-protocol-repository

#5140 Fix missing tooltip and hover effect for access modal role selection [SCI-8122]
  app/assets/stylesheets/access_permissions/access_modal.scss
  app/helpers/user_roles_helper.rb
  app/views/access_permissions/partials/_member_field.html.erb
Labels: features/new-protocol-repository

#5139 Fix PET permission propagation [SCI-8132]
  app/controllers/access_permissions/projects_controller.rb
Labels: features/new-protocol-repository

#5105 Bugs for "Protocol templates" [SCI-8007]
  app/assets/javascripts/protocols/index.js
  app/assets/javascripts/sitewide/filter_dropdown.js
  app/assets/stylesheets/protocols/index.scss
  app/assets/stylesheets/shared/filter_dropdown.scss
  app/datatables/protocol_linked_children_datatable.rb
  app/helpers/projects_helper.rb
  app/views/protocols/index/_linked_children_modal_body.html.erb
  app/views/protocols/index/_protocol_filters.html.erb
  app/views/protocols/index/_users_list.html.erb
  app/views/shared/_filter_dropdown.html.erb
  config/locales/en.yml
Labels: NextRelease, features/new-protocol-repository

#5137 Old buttons at importing protocols.io protocol (update) [SCI-8032]
  app/assets/stylesheets/protocols/preview_modal.scss
Labels: NextRelease, features/new-protocol-repository

#5146 Reword project and protocol access permissions [SCI-8124]
  config/locales/global_activities/en.yml
Labels: features/new-protocol-repository

#5127 Add new general layout [SCI-7963]
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/navigation/general.scss
  app/assets/stylesheets/themes/menu_bar.scss
  app/views/layouts/application.html.erb
  app/views/layouts/fluid.html.erb
  app/views/shared/navigation/_breadcrumbs.html.erb
  app/views/shared/navigation/_left.html.erb
  app/views/shared/navigation/_navigator.html.erb
  app/views/shared/navigation/_top.html.erb
Labels: features/navigation-refactor

#5152 CSS: Protocol template - Details (update) [SCI-8108]
  app/assets/stylesheets/protocols/protocol.scss
  app/javascript/vue/protocol/protocolMetadata.vue
Labels: NextRelease, features/new-protocol-repository

#5158 Adapt global search for new protocol versioning [SCI-8080]
  app/datatables/protocols_datatable.rb
  app/models/protocol.rb
  app/views/search/results/_protocols.html.erb
  app/views/search/results/partials/_protocol_text.html.erb
  config/locales/en.yml
Labels: features/new-protocol-repository

#5148 Fix access modal view for users without manage permissions [SCI-8139]
  app/assets/stylesheets/access_permissions/access_modal.scss
  app/views/access_permissions/modals/_show_modal.html.erb
  app/views/access_permissions/partials/_default_public_user_role_form.html.erb
  app/views/access_permissions/partials/_member_field.html.erb
  app/views/access_permissions/partials/_user_assignment.html.erb
Labels: features/new-protocol-repository

#5171 Fix visibility of save as draft button, fix permissions for new drafts [SCI-8145][SCI-8157]
  app/controllers/protocols_controller.rb
  app/datatables/load_from_repository_protocols_datatable.rb
  app/datatables/protocols_datatable.rb
  app/javascript/vue/protocol/protocolMetadata.vue
  app/jobs/user_assignments/protocol_group_assignment_job.rb
  app/models/protocol.rb
  app/permissions/team.rb
  app/serializers/protocol_serializer.rb
  app/views/protocols/index/_linked_children_modal_body.html.erb
  app/views/protocols/index/_protocol_versions_modal.html.erb
Labels: features/new-protocol-repository

#5175 Refactor left/top navigation [SCI-8055]
  app/assets/stylesheets/navigation/general.scss
  app/assets/stylesheets/navigation/left_menu.scss
  app/assets/stylesheets/navigation/top_menu.scss
  app/controllers/navigations_controller.rb
  app/controllers/users/settings/teams_controller.rb
  app/controllers/users/settings_controller.rb
  app/helpers/left_menu_bar_helper.rb
  app/javascript/packs/vue/navigation/top_menu.js
  app/javascript/vue/navigation/top_menu.vue
  app/views/layouts/application.html.erb
  app/views/shared/navigation/_left.html.erb
  app/views/shared/navigation/_top.html.erb
  config/locales/en.yml
  config/routes.rb
Labels: features/navigation-refactor

#5190 Show/hide duplicate button on team permission change in protocol template repository [SCI-8150]
  app/controllers/protocols_controller.rb
Labels: NextRelease

#5195 Revert global modal changes [SCI-8188]
  app/assets/stylesheets/shared_styles/elements/modal.scss
Labels: NextRelease

#5201 Add border to cancel button [SCI-7607]
  app/views/shared/_filter_dropdown.html.erb
Labels: NextRelease, features/new-protocol-repository

#5207 Add error flash when assignment update fails [SCI-8131]
  app/assets/javascripts/access_permissions/user_assignments.js
  app/assets/stylesheets/shared_styles/elements/alerts.scss
  app/controllers/access_permissions/projects_controller.rb
  app/controllers/access_permissions/protocols_controller.rb
Labels: NextRelease

#5186 Improve error handling in protocol archive/restore actions [SCI-8177]
  app/controllers/protocols_controller.rb
  app/models/protocol.rb
Labels: NextRelease

#5205 Update public user assignments on public role change [SCI-8200]
  app/models/protocol.rb
Labels: NextRelease

#5204 Fix CSS for pdf/docx preview and some minor CSS fixes [SCI-8198]
  app/assets/stylesheets/access_permissions/access_modal.scss
  app/assets/stylesheets/shared/file_preview.scss
  app/assets/stylesheets/themes/scinote.scss
Labels: NextRelease

#5211 Fix recent works for protocol [SCI-8204]
  app/services/dashboard/recent_work_service.rb
Labels: NextRelease

#5220 Fix new protocol default role, fix reload of protocol access modal [SCI-8217]
  app/assets/javascripts/access_permissions/user_assignments.js
  app/assets/javascripts/protocols/new_protocol.js
  app/views/access_permissions/partials/_new_assignments_form.html.erb
  app/views/protocols/index/_new_protocol_modal.html.erb
Labels: NextRelease

#5224 Fix clear button style in dashboard filter [SCI-7607]
  app/views/dashboards/_current_tasks.html.erb
Labels: NextRelease

#5232 Add flash message for removing all users [SCI-8238]
  app/assets/javascripts/access_permissions/user_assignments.js
  app/controllers/access_permissions/projects_controller.rb
  app/controllers/access_permissions/protocols_controller.rb
Labels: NextRelease

#5233 Fix missing protocol template name in activity for create [SCI-8242]
  app/controllers/protocols_controller.rb
Labels: NextRelease
